fastapi
uvicorn
pydantic
duckduckgo-search
langchain
langchain-google-genai
langchain-community
python-dotenv
requests
python-multipart
rapidocr-onnxruntime==1.3.24
opencv-python-headless
pymupdf
numpy